{% if user.is_authenticated %} 
<div class="row">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if index %}active{% endif %}" href="{% url 'index' %}" style="font-size: 14pt; align-self: center;">
                  Все авторы
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if follow %}active{% endif %}" href="{% url 'follow_index' %}" style="font-size: 14pt; align-self: center;">
                Избранные авторы
            </a>
        </li>
</div>
{% endif %}